{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    <link rel="stylesheet"  href="{% static 'student_model/css/style.css' %}">
</head>
<body>
    <body>
    <div class="container">
        <h1>Student Registration</h1>
        <form action="{% url 'student' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</body>
</html>