{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <link rel="stylesheet" href="{% static 'student_model/css/student_list.css' %}">
</head>
<body>
    <h1>Student List</h1>
    <table>
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Mobile No</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Address</th>            
        </tr>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.mobile_no }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.dob }}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.address }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>